/******** Buntastic CSS ********/
/*
    selector {
      property: foo;
    }
    .class
    #id
    multiple , p - use comma
    child p - no comma
*/


/******** Main html Tags ********/
    body {
      background-color: white;
      width: 80%;
      height: auto;
      margin: auto;
      font-size: 1.4em;
      color: black;
      font-family: 'Merriweather', 'Roboto', serif;
    }
    p {
      font-size: 14px;
    }
    p.thick {
      font-weight: bold;
    }
    a {
      color: black;
    }
    a:hover{
      color:white;
      background-color: black;
    }
    a:-webkit-any-link{
      background-color: white;
    }
    img a:hover{
      background-color: white;
    }
    h1 {font-size: 1.4em;}
    h2 {font-size: 1.2em;}
    h3 {font-size: 1.0em;}
    h4 {font-size: 1.0em;}


/********    Menu    ********/

    header{
      font-size: 20px;
      text-align: center;
      height: 80px;
      border-bottom: 1px solid #000;
    }
    header #logo {
      float:  left;
      text-decoration: none;
      width:  15%;
    }
    header img{
      vertical-align: text-top;
    }
    header, nav{
      text-align: center;
      background: white;
      margin: 20px 0;
      padding: auto;
    }
    header a:hover{
      text-decoration: none;
    }
    nav a {
      color: white;
      padding: 8px;
    }
    .menu{
      float:  right;
      height: 25px;
      width:80%;
    }
    .menu a {
      color: black;
      font-weight: bold;
      text-decoration: bold;
      text-align: center;
      text-decoration: none;
      padding: 10px 40px 10px 40px;
    }
    nav a:hover {
      background-color: #000;
      color: #fff;
    }

/******** Body ********/

    #bun_body{
      display: inline-flex;
    }
    .our_story{
      float: right;
      width: 40%;
      display: block;
      padding:30px;
    }
    #shop_img{
      width: 600px;
      height: 450px;

    }
    .bun_list {
      font-size: 12pt;
    }
    .bun_row{
      width: 100%;
      float: left;
      display: inline-block;
    }
    .a_bun{
      float: left;
      max-width: 300px;
      border-top: 60px;
      border: 10px;
      margin: 10px;
      width: 30%;
      text-align: center;
      text-decoration: none;
    }
    .a_bun a{
      text-decoration: none;
    }
    .a_bun a:hover{
      color: gray;
    }
    .a_bun img:hover{
      opacity: 0.5;
    }

    #product_img_div{
      width: 50%;
      display: inline-block;
      margin: 100px 0 0 0;
      text-align: center;
      vertical-align: top;
    }
    #single_bun_img img{
      width: 50%;
      display: inline-block;
      margin: 0 auto;
      text-align: center;
    }
    #single_bun_desc{
      display: inline-block;
      text-align: center;
      width: 48%;
    }

/********      Product Details Buying       ********/


    select {
      height: 30px;
      width: 35%;
    }

    button{
      background: black;
      color: white;
      font-size: 16px;
      margin: 15px;
      padding: 15px 50px;
    }


/********      Cart       ********/

    .cart {
      font-size: 10px;
      line-height: 1.3em;
    }

    .data-table {
      font-size: 10px;
      width: 100%;
    }
    th {
      padding: 15px;
      vertical-align: middle;
    }
    td {
      padding: 15px;
      vertical-align: middle;
    }
    table   {
      border-collapse: collapse;
      border-spacing: 0;
      font-size: 14px;
      background: white;
      width: 100%;
      vertical-align: middle;
    }
    table a{
      text-decoration: none;
    }
    table a:hover{
      color: black;
      opacity: 0.5;
    }
    table span{
      display: inline-block;
      overflow: hidden;
      margin: 0 auto;
    }


    table img{
      width: 100px;
    }
    table input{
      background: white;
      color: black;
      width: 80px;
      height: 30px;
      margin: 10px;
      border: 1px solid #8C8A8A;
      vertical-align: bottom;
    }
    table .stepper{
      display: inline-block;
    }
    table button{
      background: white;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      display: inline-block;
    }
    table button img{
      height: 20px;
      width: 20px;
      float: left;
      margin: 0 auto;
      opacity: 0.5;
      display: block;
    }

    .image-col{
      text-align: left;
      width: 100px;
    }
    .product-col{
      text-align: left;
      width: 400px;
      font-weight: bold;
    }
   .edit-col{
      text-align: left;
      width:70px;
      float: right;
    }
   .quant-col{
      text-align: right;
      width:100px;
    }
    .subtotal-col{
      text-align: right;
      width:100px;
    }
    #refresh_button{
      float: right;
      background: #b9b9b9;
      display: inline-block;
      width: 200px;
    }
    #buy_button{
      float: right;
      display: inline-block;
    }

/********    Footer   ********/

    footer{
      font-size: 12px;
      margin: 50px auto;
      border-top: 1px solid #000;
      height: 25px;
      height: auto;
      text-align: center;
      padding: 0px 64px;
      padding-top: 0px;
    }
    footer img{
      width: 100px;
      height: auto;
    }
    #copyright{
      color: black;
    }

